[submodule "HIP"]
	path = HIP
	url = https://github.com/CHIP-SPV/HIP.git
[submodule "hip-testsuite"]
	path = hip-testsuite
	url = https://github.com/CHIP-SPV/hip-testsuite.git
[submodule "bitcode/ROCm-Device-Libs"]
	path = bitcode/ROCm-Device-Libs
	url = https://github.com/CHIP-SPV/ROCm-Device-Libs.git
[submodule "HIPCC"]
	path = HIPCC
	url = https://github.com/CHIP-SPV/HIPCC.git
[submodule "hip-tests"]
	path = hip-tests
	url = https://github.com/ROCm-Developer-Tools/hip-tests.git
[submodule "H4I-MKLShim"]
	path = H4I-MKLShim
	url = git@github.com:CHIP-SPV/H4I-MKLShim.git
[submodule "H4I-HipBLAS"]
	path = H4I-HipBLAS
	url = git@github.com:CHIP-SPV/H4I-HipBLAS.git
[submodule "spirv-extractor/SPIRV-Tools"]
	path = spirv-extractor/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "HeCBench"]
	path = HeCBench
	url = https://github.com/franz/HeCBench.git
