# Workflow syntax:
# https://help.github.com/en/articles/workflow-syntax-for-github-actions
name: Unit Tests Intel GPUs

on:
  pull_request:
    paths-ignore: "docs/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  unit-tests-llvm-19-debug:
    runs-on: [self-hosted, Linux, X64]
    env:
      CHIP_MODULE_CACHE_DIR: ""
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
          submodules: 'recursive'
      - name: Run unit test checking script
        run: ./scripts/unit_tests.sh debug llvm-19
        shell: bash
  unit-tests-llvm-19-release:
    runs-on: [self-hosted, Linux, X64]
    env:
      CHIP_MODULE_CACHE_DIR: ""
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
          submodules: 'recursive'
      - name: Run unit test checking script
        run: ./scripts/unit_tests.sh release llvm-19
        shell: bash
  unit-tests-llvm-20-debug:
    runs-on: [self-hosted, Linux, X64]
    env:
      CHIP_MODULE_CACHE_DIR: ""
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
          submodules: 'recursive'
      - name: Run unit test checking script
        run: ./scripts/unit_tests.sh debug llvm-20
        shell: bash
  unit-tests-llvm-20-release:
    runs-on: [self-hosted, Linux, X64]
    env:
      CHIP_MODULE_CACHE_DIR: ""
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
          submodules: 'recursive'
      - name: Run unit test checking script
        run: ./scripts/unit_tests.sh release llvm-20
        shell: bash
  unit-tests-llvm-21-debug:
    runs-on: [self-hosted, Linux, X64]
    env:
      CHIP_MODULE_CACHE_DIR: ""
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
          submodules: 'recursive'
      - name: Run unit test checking script
        run: ./scripts/unit_tests.sh debug llvm-21
        shell: bash
  unit-tests-llvm-21-release:
    runs-on: [self-hosted, Linux, X64]
    env:
      CHIP_MODULE_CACHE_DIR: ""
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
          submodules: 'recursive'
      - name: Run unit test checking script
        run: ./scripts/unit_tests.sh release llvm-21
        shell: bash