name: Compile and Cache Main

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: [self-hosted, Linux, X64]
    env:
      CHIP_MODULE_CACHE_DIR: ""
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: 'recursive'

      - name: Build chipStar main
        shell: bash
        run: |
          source /home/pvelesko/install/modules/init/bash
          module use /home/pvelesko/modulefiles
          module load llvm/19.0
          mkdir build
          cd build
          cmake .. -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_INSTALL_PREFIX=~/install/chipStar/main
          make -j$(nproc)
          rm -rf ~/install/chipStar/main
          make install
